html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  //min-width: 1080px;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input, button {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#wrapper {
  width: 100%;
  height: 100%;
  //border: 2px solid black;

  nav {
    width: 100%;
    min-height: 80px;
    border-bottom: 2px solid lightgray;
    display: flex;
    align-items: center;
    padding: 10px;

    h1 {
      display: inline-block;
      margin-right: auto;
    }

    button {
      margin-left: 15px;
    }
  }

  #below-nav {
    display: flex;
    align-items: center;
    padding: 25px;

    table {
      border-collapse: collapse;
      width: 100%;
    }

    td, tr, th {
      border: 1px solid gray;
      text-align: center;
      padding: 10px 5px;
    }
  }
}

#layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  //display: flex;
  display: none;
  align-items: center;
  justify-content: center;

  form {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 25px;
  }
}